<ion-view hide-back-button="true">
    <ion-nav-title>{{  $root.MenuTitle | translate }}</ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="$exposeAside.active"></button>
        
    </ion-nav-buttons>
    
     <ion-nav-buttons side="right"> <!-- right -->
   <div ng-if="!ConnectedtoVPN" ><span class="vpn-notconnected-style">{{'Disconnected from'|translate}}<br> {{'Total Network'| translate}}</span></div>
   <div class="logo-style" ><img  src="app/img/securite_128.png" height="26" ng-click=showAccidentDetails();></div>
   <div ng-click=showAccidentDetails(); ng-if="indicatorType == 'num_days'" class="infoNumdays-style" ng-class="style_name">{{date_diff}}<span  class="infoTextDays-style">{{'DAYS' | translate}}</span></div><span ng-if="indicatorType == 'num_days'" class="infosubscriptText-style" ng-class="fr_len3_pad">{{'without fatal accident' | translate }}</span>
   <div ng-click=showAccidentDetails(); ng-if="indicatorType == 'group_safety'" class="infoTextGroup-style" ng-class="LangStyleSafety">{{'GROUP SAFETY' | translate}}</div><span ng-click=showAccidentDetails(); ng-if="indicatorType == 'group_safety'" class="infoSafetyText-style" ng-class="LangStyleIndict">{{'INDICATOR' | translate}}</span>
   
 </ion-nav-buttons> 
    <ion-content class="dark-overlay has-header-main">
        <div ng-include src="'app/views/include/refresher-partial.html'"></div>
        <div ng-include src="'app/views/include/newsdebugger-partial.html'"></div>
        <div class="container-carousel">
            <div ng-if="newsItems.newsData">
                <ion-item class="item-divider item-positive">
                    {{'Group' | translate }}
                </ion-item>
                <div class="universe-carousel">
                    <div ng-repeat="item in newsItems.newsData | limitTo: carouselItemsLimit" class="item-news-carousel"
                         ng-click="showNewsDetail($event,item,'app.news-detail')"
                         >
                        <div class="list card item-container">
                            <div class="item">
                                <h2>{{item.title}}</h2>

                                <div class="meta">{{ item.publicationDate }}</div>
                            </div>
                            <div class="item item-body">
                                <div class="caption">
                                    <img imagenie="{{ item.image }}" class="full-image caption__media"/>
                                    <div class="caption__overlay item-text-wrap">
                                        <div class="caption__overlay__content">{{ item.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="newsItems.newsData && newsCarousel[0]">
                <ion-item class="item-divider item-positive">
                    {{'My Branch' | translate }}
                    <span class="item-note">
                        {{ $root.userPreferences.branch }}
                    </span>
                </ion-item>

                <div class="universe-carousel">
                    <div ng-repeat="item in newsCarousel[0] | limitTo: carouselItemsLimit" class="item-news-carousel"
                         ng-click="showNewsDetail($event,item,'app.news-detail')">
                        <div class="list card item-container">
                            <div class="item">
                                <h2>{{item.title}}</h2>

                                <div class="meta">{{ item.publicationDate }}</div>
                            </div>
                            <div class="item item-body">
                                <div class="caption">
                                    <img imagenie="{{ item.image }}" class="full-image caption__media" />

                                    <div class="caption__overlay item-text-wrap">
                                        <div class="caption__overlay__content">{{ item.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="newsItems.newsData && newsCarousel[1]">
                <ion-item class="item-divider item-positive">
                    {{'My Professional Field' | translate }}
                    <span class="item-note">
                        {{ $root.userPreferences.professionalField }}
                    </span>
                </ion-item>

                <div class="universe-carousel">
                    <div ng-repeat="item in newsCarousel[1] | limitTo: carouselItemsLimit" class="item-news-carousel"
                         ng-click="showNewsDetail($event,item,'app.news-detail')">
                        <div class="list card item-container">
                            <div class="item">
                                <h2>{{item.title}}</h2>

                                <div class="meta">{{ item.publicationDate }}</div>
                            </div>
                            <div class="item item-body">
                                <div class="caption">
                                    <img imagenie="{{ item.image }}" class="full-image caption__media" />

                                    <div class="caption__overlay item-text-wrap">
                                        <div class="caption__overlay__content">{{ item.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="newsItems.newsData && newsCarousel[2]">
                <ion-item class="item-divider item-positive">
                    {{'My Geographical Site' | translate }}
                    <span class="item-note">
                        {{ $root.userPreferences.geographicalSite }}
                    </span>
                </ion-item>
                <div class="universe-carousel">
                    <div ng-repeat="item in newsCarousel[2] | limitTo: carouselItemsLimit" class="item-news-carousel"
                         ng-click="showNewsDetail($event,item,'app.news-detail')">
                        <div class="list card item-container">
                            <div class="item">
                                <h2>{{item.title}}</h2>

                                <div class="meta">{{ item.publicationDate }}</div>
                            </div>
                            <div class="item item-body">
                                <div class="caption">
                                    <img imagenie="{{ item.image }}" class="full-image caption__media" />

                                    <div class="caption__overlay item-text-wrap">
                                        <div class="caption__overlay__content">{{ item.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="newsItems.newsData && newsCarousel[3]">
                <ion-item class="item-divider item-positive">{{'Human Resources' | translate }}</ion-item>

                <div class="universe-carousel">
                    <div ng-repeat="item in newsCarousel[3] | limitTo: carouselItemsLimit" class="item-news-carousel"
                         ng-click="showNewsDetail($event,item,'app.news-detail')">
                        <div class="list card item-container">
                            <div class="item">
                                <h2>{{item.title}}</h2>

                                <div class="meta">{{ item.publicationDate }}</div>
                            </div>
                            <div class="item item-body">
                                <div class="caption">
                                    <img imagenie="{{ item.image }}" class="full-image caption__media" />

                                    <div class="caption__overlay item-text-wrap">
                                        <div class="caption__overlay__content">{{ item.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ion-infinite-scroll
                    ng-if="newsItems.newsData && scrollDownCount<3"
                    on-infinite="loadMoreData()">
                <!-- !(newsCarousel[0] && newsCarousel[1] &&
                    newsCarousel[2] && newsCarousel[3]) && &&  -->
            </ion-infinite-scroll>

        </div>
        <ng-include src="'app/views/include/xiti-partial.html'">
        </ng-include>
    </ion-content>
</ion-view>

